#reset-password {
    margin-top: 200px;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

#expired-link-panel {
    width: 100% ;
    border-bottom: 6px dashed #FFBF6B;
    border-right: 6px dashed #FFBF6B;
    border-top: 6px dashed #ffedb1;
    border-left: 6px dashed #ffedb1;
    padding: 0;

    
}

#error-message {
    margin: 0;
    padding: 0;
}

.ops {
    color: #fcf297;
    font-size: 5em;
}